<%#= JSON.stringify(datama) %>
<% for(var i=0; i < datama.length; i++) { %>
    <div class="row align-items-center side-by-side">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 mx-auto order-<%= datama[i].order %>">
            <div class="copy">
                <h1 class="mb-3"><%= datama[i].heading %></h1>
                <p><%= datama[i].desc %></p>
                <button id="twitter-connect" class="text-link btn btn-primary" title="<%= datama[i].cta %>"><%= datama[i].cta %></button>
            </div>
        </div>
        <div class="col-12 col-md-6 pr-0">
            <img class="img-fluid"
                 src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/home-page/ost-platform-hp-token-setup-4@2x.png"
                 alt="OST - Design Your Brand Token">
        </div>
    </div>
<% } %>