<%

channelId = apiResponseData['channel']['id']
channelDetails = apiResponseData['channel_details'][channelId]
taglineId = channelDetails['tagline_id']
tagLine = apiResponseData['texts'][taglineId]['text']

coverImageId = channelDetails['cover_image_id']
imageResolutions = apiResponseData['images'][coverImageId]['resolutions']

descriptionId = channelDetails['description_id']
description = apiResponseData['texts'][descriptionId]['text']

channelStats = apiResponseData['channel_stats'][channelId]
noOfMembers = channelStats['total_users']
noOfVideos = channelStats['total_videos']

%>

<div class="container-fluid videoContainer d-none d-md-block">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-11 col-lg-9 col-xl-6 innerContainer">
            <div class="row h-100">
                <div class="col pr-0 h-100" style="overflow: hidden">
                    <div class="row h-100">
                        <div class="col-md-12 col-lg-12 innerRight d-flex align-items-center justify-content-center video-container-wrapper active">
                            <p> channelName: <%- apiResponseData['channel']['name'] %> </p>
                        </div>
                        <div class="col-md-12 col-lg-12 innerRight d-flex align-items-center justify-content-center video-container-wrapper active">
                            <p> tagLine: <%- tagLine %> </p>
                        </div>

                        <div class="col-md-12 col-lg-12 innerRight d-flex align-items-center justify-content-center video-container-wrapper active">
                            <p> description: <%- description %> </p>
                        </div>

                        <div class="col-md-6 col-lg-6 innerRight d-flex align-items-center justify-content-center video-container-wrapper active">
                            <p> <%- noOfMembers %> Members </p>
                        </div>

                        <div class="col-md-6 col-lg-6 innerRight d-flex align-items-center justify-content-center video-container-wrapper active">
                            <p> <%- noOfVideos %> Videos </p>
                        </div>

                        <div class="col-md-12 col-lg-12 innerRight d-flex align-items-center justify-content-center video-container-wrapper active">
                            <p> imageUrl: <%- JSON.stringify(imageResolutions) %> </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
