<%

channelId = apiResponseData['channel']['id']
channelDetails = apiResponseData['channel_details'][channelId]
taglineId = channelDetails['tagline_id']
tagLine = apiResponseData['texts'][taglineId]['text']

coverImageId = channelDetails['cover_image_id']
imageResolutions = apiResponseData['images'][coverImageId]['resolutions']
channelImageUrl = imageResolutions['original']['url']

descriptionId = channelDetails['description_id']
description = apiResponseData['texts'][descriptionId]['convertedText']

channelStats = apiResponseData['channel_stats'][channelId]
noOfMembers = channelStats['total_users']
noOfVideos = channelStats['total_videos']

tagIds = channelDetails['tag_ids']
tagDetails = apiResponseData['tags']
%>

<div class="container-fluid community-channel">
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="container p-0">
                <div class="row community-wid-channel-desc">
                    <div class="community-image col-12">
                        <div class="content">
                            <img src="<%= channelImageUrl %>" class="img-fluid" style="object-fit: cover"/>
                            <div class="details py-5 px-6 d-flex justify-content-between flex-column">
                                <div>
                                    <h6 class="desc block-with-text mb-1"><%= apiResponseData['channel']['name'] %></h6>
                                    <p class="desc block-with-text"><%= tagLine %></p>
                                </div>
                                <div class="d-flex w-50">
                                    <span class="desc" style="flex: 1"><%- noOfMembers %> Members</span>
                                    <span class="desc" style="flex: 1"><%- noOfVideos %> Videos</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-4 py-3">
                        <h6 class="mb-1">About</h6>
                        <p class="mb-0"><%- description %></p>
                    </div>
                    <ul class="list-unstyled px-4 m-0 w-100" style="border-top: 1px solid">
                        <li class="float-left d-inline-block py-2">All</li>
                        <%
                            for(let i=0;i<tagIds.length;i++) {
                                tagDetail = tagDetails[tagIds[i]];
                        %>
                            <li class="float-left ml-2 py-2">#<%- tagDetail['text'] %></li>
                        <%  }%>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
