<% 
  const getPageTitle = (pageMeta) => {

    var defaultPageTitle = "Pepo";
    if ( !pageMeta || !pageMeta.title ) {
      return defaultPageTitle;
    }

    var title = pageMeta.title;
    if ( pageMeta.page ) {
      title = title + " | " + pageMeta.page;
    }
    return title;

  }
%>

<title><%= getPageTitle(pageMeta) %></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<meta name="description" content="<%= pageMeta.description %>">
<meta name="keywords" content="<%= pageMeta.keywords %>">
<meta name="robots" content="<%= pageMeta.robots%>">
<link rel="canonical" href="<%= pageMeta.canonical %>" />

<meta property="og:title" content="<%= pageMeta.og.title %>"/>
<meta property="og:description" content="<%= pageMeta.og.description %>"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://pepo.com"/>
<meta property="og:site_name" content="pepo.com"/>
<meta property="og:image" content="<%= pageMeta.og.image %>"/>

<meta name="twitter:title" content="<%= pageMeta.og.title %>" />
<meta name="twitter:description" content="The OST Platform enables you to easily add brand currency into any app to strengthen direct-to-consumer relationships" />
<meta name="twitter:image" content="https://dxwfxs8b4lg24.cloudfront.net/ost/images/og-images/ost-platform-og-image-new-1.png" />
<meta name="twitter:card" content="<%= pageMeta.twitter.card %>" />


<link rel="icon" type="image/png" sizes="64x64" href="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/fav-icons/64x64.png"/>
<link rel="apple-touch-icon" sizes="57x57" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/16x16.png">