<%
    channelId = apiResponseData['meeting']['channel_id'];
    channelName = apiResponseData['channels'][channelId]['name'];

    hostUserId = apiResponseData['meeting']['host_user_id'];
    hostUser = apiResponseData["users"][hostUserId];
    hostUserName = hostUser["name"];


    shareUrl    = apiResponseData.share_url;
    let shareDetails = apiResponseData.socialShareDetails || apiResponseData.social_share_details;
    shareText  = shareDetails["default"];

    shareUrl = shareUrl.replace("https://pepodev.com", "https://stagingpepo.com");
    shareText = shareText.replace("https://pepodev.com", "https://stagingpepo.com");

    shareTwitterText = shareDetails["twitter"];
%>
<nav class="meeting-subnav nav px-md-3 py-md-2">
    <ul class="meeting-subnav-ul list-unstyled m-0 d-md-flex first-list" style="font-size: 0;">
        <li class="nav-link text-truncate w-100 pr-0">
            <span class="text-truncate d-block community">Community: <span style="font-family: AvenirNext-Medium" class="ml-2"><%- channelName %></span></span>
        </li>
        <li class="nav-link text-truncate w-100 pr-0">
            <span class="text-truncate d-block" style="font-size: 16px">Host: <span style="font-family: AvenirNext-Medium" class="ml-2"><%- hostUserName %></span></span>
        </li>
    </ul>
    <ul class="meeting-subnav-ul list-unstyled m-0 d-flex justify-content-md-end ml-md-auto" style="font-size: 0;">
        <li class="jMeetingShareBtn meeting-share-li nav-link d-flex align-items-center">
            <span class="share-meeting-icon mr-2"></span>
            <span style="font-size: 12px">Share Event</span>
        </li>
        <li class="nav-link jMeetingTips d-flex align-items-center">
            <span class="info-icon-h-20-px mr-2"></span>
            <a href="https://intercom.help/pepo/en/articles/3832441-pepo-live-events" title="FAQs" target="_blank" rel="noopener noreferrer nofollow" style="font-size: 12px">FAQs</a>
        </li>
    </ul>
</nav>
<div class="pageShareOptions d-none" id="meetingShareOptions">
    <div class="pageShareOptionsBox share-btn-wrap" id='jPageShareOptionsBox' data-url='<%- shareUrl %>' data-desc='<%- shareText %>'>
        <span class="share-option share-btn" id='jTwitterShare' data-desc='<%- shareTwitterText %>' data-id="tw">
            <span class="twitter-icon-h-20-px share-option-icon"></span>
        </span>
        <span class="share-option share-btn" id='jFacebookShare' data-id="fb">
            <span class="fb-share-icon-h-20-px share-option-icon"></span>
        </span>
        <span class="share-option share-btn" id='jWhatsAppShare' data-id="wa">
            <span class="whatsapp-share-icon-h-20-px share-option-icon"></span>
        </span>
        <span class="share-option share-btn" id='jLinkedInShare' data-id="in">
            <span class="linkedin-share-icon-h-20-px share-option-icon"></span>
        </span>
        <span class="options-divider"></span>
        <span class="share-option copy-to-clipboard-wrap copyToClipboard">
            <span class="copy-to-clipboard-icon-h-20-px share-option-icon"></span>
        </span>
    </div>
</div>
