<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include partials/shared/_header -%>
   <%- include partials/shared/_css -%>
   <%- include partials/shared/_csrf -%>
   <script>window.name = "<%= Math.random().toString(36).replace(/[^a-z0-9]+/g, ''); %>"</script>
  </head>
  <body contenteditable="false">

    <%- include(_contentPartial) -%>

    <%- include partials/shared/_footer -%>

    <%- include partials/shared/_script %>
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="8b93a78e-d276-4cc5-bea4-f116b1a50f29" data-blockingmode="auto" type="text/javascript"></script>
    <!--<script id="CookieDeclaration" src="https://consent.cookiebot.com/8b93a78e-d276-4cc5-bea4-f116b1a50f29/cd.js" type="text/javascript" async></script>-->
  </body>
</html>