<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include partials/shared/_header -%>
   <%- include partials/shared/_csrf -%>
   <%- include partials/shared/_dev_env -%>
   <script>window.name = "<%= Math.random().toString(36).replace(/[^a-z0-9]+/g, ''); %>"</script>
  </head>
  <body contenteditable="false">
     <script>window.location = '<%- redirect_to_location %>';</script>
  </body>
</html>