<div class="container-fluid text-center">

    <div class="row align-items-center side-by-side py-6 edge--top--reverse position-relative mt-md-6" style="background-color: #2A293B">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 mr-auto order-2 pt-6 pt-md-0 order-2">
            <h1 class="mb-3" style="color: #fff">Where the crypto community comes together</h1>
            <p style="color: #ffffff" class="my-5">Whether you’re a crypto developer, podcaster, analyst, or blogger, there’s never been an easier way to showcase your work, earn appreciation, and connect with the community.</p>
            <a href="<%= twitterRedirectUrl %>" class="twitter-connect text-link btn btn-primary d-flex align-items-center justify-content-center mx-auto" title="Request Invite">Request Invite
                <%- include ../../../partials/shared/_twitterSvg -%>
            </a>
        </div>
        <div class="col-12 col-md-6 pr-md-0">
            <img class="img-fluid"
                 src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/s-b-s-2.png"
                 width="318"
                 alt="Pepo User 2">
        </div>
    </div>


    <div class="row align-items-center side-by-side py-6">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 ml-auto pb-6 pb-md-0">
            <h1 class="mb-3">Video shorts from the makers who matter</h1>
            <p class="my-5">Get closer to creators than ever before. Sneak previews, exclusive updates. Behind the scenes.</p>
            <a href="<%= twitterRedirectUrl %>" class="twitter-connect text-link btn btn-primary d-flex align-items-center justify-content-center mx-auto" title="Request Invite">Request Invite
                <%- include ../../../partials/shared/_twitterSvg -%>
            </a>
        </div>
        <div class="col-12 col-md-6 pr-md-0">
            <img class="img-fluid"
                 src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/s-b-s-3.png"
                 width="318"
                 alt="Pepo User 3">
        </div>
    </div>

    <div class="row align-items-center side-by-side py-6 edge--top position-relative mt-md-6" style="background-color: #FF8D9B">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 mr-auto pt-6 pt-md-0 order-2">
            <h1 class="mb-3" style="color: #fff">Collect more than just likes</h1>
            <p style="color: #fff">We reinvented the like button. Each tap instantly sends 1 PEPO token (~$0.01) from the viewer to the creator, without any fees.</p>
            <a href="<%= twitterRedirectUrl %>" class="twitter-connect text-link btn btn-primary d-flex align-items-center justify-content-center mx-auto" title="Request Invite">Request Invite
                <%- include ../../../partials/shared/_twitterSvg -%>
            </a>
        </div>
        <div class="col-12 col-md-6 pr-md-0">
            <img class="img-fluid"
                 src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/s-b-s-1.png"
                 width="318"
                 alt="Pepo User 4">
        </div>
    </div>


    <div class="row align-items-center side-by-side py-6" id="refer-to-get">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 ml-auto pb-6 pb-md-0">
            <h1 class="mb-3">So fast, so intuitive, you won’t believe it’s crypto.</h1>
            <p>Every Pepo transaction is 100% on-chain, at blazing fast speeds and low costs, thanks to OST Platform Ethereum layer-2 technology, built on the OpenST Protocol.</p>
            <a href="<%= twitterRedirectUrl %>" class="twitter-connect text-link btn btn-primary d-flex align-items-center justify-content-center mx-auto" title="Request Invite">Request Invite
                <%- include ../../../partials/shared/_twitterSvg -%>
            </a>
        </div>
        <div class="col-12 col-md-6 pr-md-0">
            <img class="img-fluid"
                 src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/s-b-s-5-v2.png"
                 width="334"
                 alt="Pepo User 5">
        </div>
    </div>
    <div class="row text-center my-6">
        <div class="col-12">
            <h4 style="color: #2A293B">An OST project</h4>
            <p style="color: #2A293B" class="my-4">Pepo is designed with love by OST. Meet the team and discover our technology</p>
            <a href="https://ost.com" target="_blank" class="btn btn-primary px-6" title="Explore OST">Explore OST</a>
        </div>
    </div>
</div>