<div class="container-fluid text-center">
    <div class="row">
      <% if (status != 'DOPTIN'){ %>
        <div class="container-fluid py-5 pt-6" style="background-color: #2A293B">
            <h5 style="color: #ffffff" class="mb-3">Which email address should we use to notify you when your access is approved?</h5>
            <form class="mx-auto col-12 col-md-8 col-lg-5 col-xl-4" data-ost-formhelper data-submiting="Confirming…" action="/api/web/prelaunch/subscribe-email" method="POST">
                <div class="form-group">
                    <div class="input-group mb-2">                    
                        <input type="email" title="Email" required class="form-control py-2" autocomplete="off" name="email" placeholder="Email Address" value="<%= email %>" />
                        <button class="btn btn-primary input-group-append px-3 align-items-center d-none d-md-block text-uppercase"
                                type="submit" title="TRY NOW"
                                data-submiting="Confirming…">
                            Confirm
                        </button>
                    </div>
                    <div class="invalid-feedback general_error error email-error">&nbps;</div>
                </div>
                <button class="btn btn-primary input-group-append px-3 py-2 align-items-center d-md-none mx-auto rounded text-uppercase"
                        type="submit" title="Confirm">
                    Confirm
                </button>
            </form>
        </div>
        <% } %>
        <div class="container py-6">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-logo.png" class="img-fluid" width="179"/>
                    <h2 class="my-5" style="color: #2A293B">Thanks <span style="font-family: AvenirNext-Bold; color: #FF5566;word-break: break-all">@<%= handle %></span> for requesting access!</h2>
                    <h3 class="mb-5" style="color: #2A293B">You're <span style="font-family: AvenirNext-Bold; color: #FF5566;word-break: break-all"><%= id %></span> on the waiting list We'll let you know as soon as your access is approved</h3>
                    <a href="#refer-and-earn" class="btn btn-primary smooth-scroll" title="Refer & Earn Now">Refer & Earn Now</a>
                    <a href="#creator" class="btn btn-secondary ml-md-3 mt-4 mt-md-0 smooth-scroll" title="I am a Crypto Creator">I am a Crypto Creator</a>
                </div>
                <div class="col-12 col-md-6 d-none d-md-block">
                    <div class="position-relative ml-auto" style="height: 600px;width: 300px;">
                        <video autoplay loop muted playsinline poster="https://d3attjoi5jlede.cloudfront.net/images/web/pepo-splashpage-cover.jpg" class="position-relative">
                            <source src="https://d3attjoi5jlede.cloudfront.net/images/web/pepo-splashpage.mp4" type="video/mp4">
                            <source src="https://d3attjoi5jlede.cloudfront.net/images/web/pepo-splashpage.ogv" type="video/ogg">
                            <source src="https://d3attjoi5jlede.cloudfront.net/images/web/pepo-splashpage.webm" type="video/webm">
                        </video>
                        <div class="mobileFrame"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center side-by-side py-6 edge--top--reverse position-relative mt-md-6" id="refer-and-earn" style="background-color: #2A293B">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 mr-auto order-2 pt-6 pt-md-0 order-2">
            <h1 class="mb-3" style="color: #fff">You are earning <span style="font-family: AvenirNext-Bold; color: #FF5566">5%</span> <br/>from <span style="font-family: AvenirNext-Bold; color: #FF5566"><%= invitedUserCount %></span> Creators!</h1>
            <p style="color: #ffffff" class="my-5">You’ll receive 5% commission on all year-1 income earned by any approved creator who joins Pepo via your referral link.</p>
                <div class="copy-code-box mb-4">
                    <span><%= inviteUrl %></span>
                </div>
                <button class="btn btn-primary px-6" type="submit" id="copyCode" data-text-to-copy="<%= inviteUrl %>">Copy It</button>
                <a class="btn btn-secondary px-6 ml-md-3 mt-4 mt-md-0" type="submit" title="Tweet It"
                   href="https://twitter.com/intent/tweet?text=<%= encodeURI('Join Pepo app using my referral code!') %>&hashtags=pepo,crypto,ost&via=Pepo&url=<%= inviteUrl %>">Tweet It</a>
        </div>
        <div class="col-12 col-md-6 pr-md-0">
            <img class="img-fluid"
                 src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/s-b-s-2.png"
                 width="318"
                 alt="Pepo User 2">
        </div>
    </div>


    <div class="row align-items-center side-by-side py-6" id="creator">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 ml-auto pb-6 pb-md-0">
            <h1 class="mb-3">Are you a Crypto Creator?</h1>
            <p class="my-5">To ensure quality content, we have a light approval process for Creators. Approved Creators also get unlimited invites! Pepo will provide your fans with 500 free PEPOs each (~$5.00), they can use to show appreciation for you and other projects.
                Have a quick chat with us to learn more.
            </p>
            <button id="applyNow" class="text-link btn btn-primary mx-auto" title="Apply Now">Apply Now</button>
            <div style="display: none;" id="applySuccess"><p>Thank you! We'll contact you shortly</p></div>
            <div style="display: none;" class="" id="applyError">Something went wrong!</div>
        </div>
        <div class="col-12 col-md-6 pr-md-0">
            <img class="img-fluid"
                 src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/s-b-s-3.png"
                 width="318"
                 alt="Pepo User 3">
        </div>
    </div>

    <a href="" class="btn btn-secondary jLogout" title="Log Out">Log Out</a>
</div>