<div class="channel-container">
    <% if (!currentUser.isLoggedIn()) {%>
        <%- include('../partials/shared/_navBar', {pepoNav: "pepo-feed"}) -%>
    <% } else{ %>
        <%- include('../partials/shared/_navbar_loggedIn', {pepoNav: "pepo-nav"}) -%>
    <% } %>
</div>



<%- include ../partials/shared/_modals %>
<%- include ../partials/web/video/_svg_sprite %>



<script type="text/javascript">
  window.onload = function () {
    new pepo.channel_list({
      "apiResponse"  : <%- JSON.stringify(apiResponseData) %>,
      "appMeta" : <%- JSON.stringify(appMeta)%>
    });
  }
</script>
