<div class="container-fluid pt-5 position-relative">
    <span class="backArrow" id="backArrowAction" style="display: none;">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
             viewBox="0 0 17 29" xml:space="preserve" class="backArrowSvg">
            <path d="M16 1L2 14.746 15.5 28" stroke="#484848" stroke-width="2.545" fill="none" fill-rule="evenodd"/>
        </svg>
    </span>
    <div style="display: flex;align-items: center;justify-content: center;">
        <img src="https://d3attjoi5jlede.cloudfront.net/images/web/redemption/pepo-store-logo.png"
             alt="Pepo Store Logo" class="img-fluid" width="222"/>
    </div>
    <p class="mt-3 mb-0 to-spend" style="">Pepocorns to spend
        <img src="https://d3attjoi5jlede.cloudfront.net/images/web/redemption/pepo-corn-unicorn.png" class="img-fluid" width="15.375"/>
        <%= pepocorn_balance %> </p>
    <p class="mb-0 approved-video">1 approved video required before redeeming</p>
    <div class="header-line my-3"></div>
</div>

<input id="pricePoint" value="<%= price_points.OST.USD%>" hidden/>

<div class="container-fluid products">
    <div class="row no-gutters">
        <% redemption_products.forEach(function(dat, index) { %>
            <div class="col-6 form-group <%= index % 2 ? 'pl-2' : 'pr-2' %>">
                <div class="col-12 embed-responsive embed-responsive-1by1 product-img-wrapper">
                    <img src="<%= dat.images.square%>"
                         data-src="<%= dat.images.landscape%>"
                         class="embed-responsive-item product-img"
                         alt="1x1 image"
                         data-product-id="<%= dat.id %>"
                         data-product-kind="<%= dat.kind %>"
                         data-dollar-amount="<%= dat.dollarValue %>"
                    />
                </div>
            </div>
        <% }); %>
    </div>
</div>

<div class="container-fluid product-detail" style="display: none">
    <p style="font-size: 20px" class="my-2" id="productKind"></p>
    <div class="col-12 embed-responsive embed-responsive-16by9 mb-5">
        <img class="embed-responsive-item landscape-img" src="" alt="16x9 image"/>
    </div>
    <label>Choose your Card Value</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text py-0">$</span>
        </div>
        <input type="number" class="form-control pl-0" aria-label="Amount (to the nearest dollar)">
    </div>
    <div class="converted-value">
        Value in 670
    </div>
    <button id="requestRedemptionBtn" class="btn btn-primary w-100 btn-gradient text-capitalize mb-2 mt-4" type="submit">Request</button>
    <div id="requestError" class="text-center error-message animationBounceText" style="display: none;">Something went wrong!</div>

    <div class="col-12 col-md-6">

        <div id="redemptionSuccess" class="row success-message gradient-line redemption-message animationBounceText" style="display: none">
            <div class="flex-nowrap align-items-center d-flex gradient-line-inner p-3">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     viewBox="0 0 71 71" xml:space="preserve" style="min-width: 40px">
                    <linearGradient x1="61.126%" y1="100%" x2="14.784%" y2="11.818%" id="linearGradient-1">
                        <stop stop-color="#F56" offset="0%"/><stop stop-color="#FF6FE9" offset="82.485%"/>
                        <stop stop-color="#FF7499" offset="100%"/>
                    </linearGradient>
                    <linearGradient x1="61.126%" y1="50.302%" x2="14.784%" y2="49.77%" id="linearGradient-2">
                        <stop stop-color="#F56" offset="0%"/><stop stop-color="#FF6FE9" offset="82.485%"/>
                        <stop stop-color="#FF7499" offset="100%"/>
                    </linearGradient>
                    <linearGradient x1="61.126%" y1="78.125%" x2="14.784%" y2="28.523%" id="linearGradient-3">
                        <stop stop-color="#F56" offset="0%"/>
                        <stop stop-color="#FF6FE9" offset="82.485%"/>
                        <stop stop-color="#FF7499" offset="100%"/>
                    </linearGradient></defs>
                    <g id="Catfood_cleanup" fill="none" fill-rule="evenodd">
                        <g id="Redemptions-selected1a" transform="translate(-205 -1165)">
                            <g id="email" transform="translate(208 1168)">
                                <circle id="Oval" stroke="url(#linearGradient-1)" stroke-width="2.167" opacity=".95" fill-rule="nonzero" cx="32.5" cy="32.5" r="33.583"/>
                                <path id="Rectangle" fill="url(#linearGradient-2)" d="M16.611 20.222h32.377v2.516H16.611z"/>
                                <path id="Fill-63" fill="url(#linearGradient-3)" fill-rule="nonzero" opacity=".95" d="M19.174 44.505H16.61V20.222h3.02l13.102 9.713 13.017-9.713h3.238v24.283H23.556v-2.534H46.426V23.128l-13.693 9.304-13.56-9.304z"/>
                            </g>
                        </g>
                    </g>
                </svg>
                <span class="ml-2 text-msg">We have registered your request, our team will get in touch with you soon.</span>
            </div>
        </div>

        <div id="redemptionFailure" class="row error-message redemption-message animationBounceText" style="display: none">
            <div class="flex-nowrap align-items-center d-flex p-3" >
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     viewBox="0 0 49 49" xml:space="preserve" style="min-width: 30px">
                    <linearGradient x1="61.126%" y1="100%" x2="14.784%" y2="11.818%" id="a">
                        <stop stop-color="#F56" offset="0%"/>
                        <stop stop-color="#FF6FE9" offset="82.485%"/>
                        <stop stop-color="#FF7499" offset="100%"/>
                    </linearGradient>
                    <linearGradient x1="50.309%" y1="100%" x2="49.022%" y2="11.818%" id="b">
                        <stop stop-color="#F56" offset="0%"/>
                        <stop stop-color="#FF6FE9" offset="82.485%"/>
                        <stop stop-color="#FF7499" offset="100%"/>
                    </linearGradient></defs>
                    <g transform="translate(2 2)" fill-rule="nonzero" fill="none">
                        <circle stroke="url(#a)" stroke-width="1.875" opacity=".95" cx="22.401" cy="22.401" r="23.339"/>
                        <path d="M21.844 28.562l-.343-4.164c-.114-1.116-.393-3.232-.836-6.348-.443-3.116-.665-4.933-.665-5.45 0-2.15.715-3.225 2.145-3.225 1.43 0 2.144 1.048 2.144 3.143 0 .218-.014.456-.043.715-.028.258-.043.47-.043.633l-1.801 14.696h-.558zM20 33.706c0-1.388.73-2.082 2.188-2.082 1.458 0 2.187.667 2.187 2 0 1.334-.73 2.001-2.188 2.001-1.458 0-2.187-.64-2.187-1.919z" fill="url(#b)"/>
                    </g>
                </svg>
                <span class="ml-2 error-message">Minimum redemption is $10. Please try again when you have more Pepo Coins.</span>
            </div>
        </div>

    </div>

</div>


<script type="text/javascript">
  window.onload = function() {
   ost.redemptionPage.init();
 };
</script>
